<script id="card-company-list" type="text/template">
<div class="modal-content">
        <h4>¿Está seguro?</h4>
        <p>desea eliminar esta empresa: {{company}}?</p>
</div>
<div class="modal-footer">
  
  <a href="#!" onClick="modalConfirmation.agree({{params}})" class="green-text text-darken-2 modal-action  waves-effect waves-green btn-flat">Aceptar</a>
  <a href="#!" onClick="modalConfirmation.cancel()" class="red-text text-darken-2 modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
</div>
</script>